{{- if .Values.secretRef.enabled }}
{{- if not .Values.externalSecrets.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.secretRef.name }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "backend.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- if .Values.secrets }}
  {{- range $key, $value := .Values.secrets }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
  {{- else }}
  MONGODB_URI: {{ .Values.mongodbUri | default "mongodb://mongodb:27017/shopdeploy" | quote }}
  JWT_ACCESS_SECRET: {{ .Values.jwtAccessSecret | default (randAlphaNum 32) | quote }}
  JWT_REFRESH_SECRET: {{ .Values.jwtRefreshSecret | default (randAlphaNum 32) | quote }}
  {{- end }}
{{- end }}
{{- end }}
